{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<style>
h1{
    text-align: center;
    font-size: 2.5em;
    margin-top:1em;
}

p{
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.5em;
}
</style>
{% endblock %}


{% block title %}
Help
{% endblock %}

{% block main_content %}
    <h1><a href="/">Help</a></h1>
    <p>At Hotel La Tour we are dedicated to assisting our customers as much as possible.<br>
        Please contact us using the link below with any issues you may have.<br>
        Thank you for your cooperation.<br>
    <a href="/misc/contact_us">Contact Us</a></p>
{% endblock %}
