{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" href="../../static/css/change_password.css">
{% endblock %}

{% block title %}
Change password
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="/account/your_account"><h1>Change password</h1></a>
            </div>
            {% if old_pass %}
                <form method="post" class="form-responsive">
                    <div class="col-lg-12 form-group">
                        <label for="passwordCurrent" class="form-control">Current password:</label>
                        <input type="password" name="passwordCurrent" required>
                    </div>
                    <div class="col-lg-12 form-group">
                        <input type="submit" name="submitOldPassword" class="btn-success">
                    </div>
                </form>
            {% elif success %}
                <div class="col-lg-12 success">
                    <p>Password successfully changed, click on the title to return to your account</p>
                </div>
            {% else %}
                <form method="post" class="form-responsive">
                    <div class="col-lg-12 form-group">
                        <label for="password_New" class="form-control">New Password:</label>
                        <input type="password" name="password_New" required>
                    </div>
                    <div class="col-lg-12 form-group">
                        <label for="password_Retype" class="form-control">Password Retype:</label>
                        <input type="password" name="password_Retype" required>
                    </div>
                    <div class="col-lg-12 form-group">
                        <input type="submit" name="submitNewPassword" class="btn-success">
                    </div>
                </form>
            {% endif %}
        </div>
    <div id="ErrorDiv" {% if ServerError%} style="visibility: visible" {% endif %}>
            <p>
                {{ ServerError }} <!-- Outputs a server error if there is one -->
            </p>
        </div>
    </div>
{% endblock %}
